<%- include("../layouts/main-top.ejs") %>

<div>
  <div class="my-4">
    <div>
      <% for (const article of items) { %>
      <div>
        <img src="<%= article.image %>" />
        <h3><%= article.title %></h3>
      </div>
      <% } %>
    </div>

    <%- include("../includes/pagination.ejs") %>
  </div>
  <%- include("../layouts/main-bottom.ejs") %>
</div>
